@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --taupe-gray:#8e9189;
  --purple-taupe: #494449;
  --rocket-metallic: #857f74;
  --Isabelline: #eeefeb;
  --pale-string-bud: #ddeac1;

  --font: font-family: Verdana, Geneva, Tahoma, sans-serif;

} 

body {
  margin: 0 0 20px 0;
  font-family: var(--font);
  font-size: large;
  background: var(--Isabelline);
}

code {
  font-family: var(--font);
}

a {
  color: var(--purple-taupe);
  text-decoration: none;
}

a:hover {
  color: inherit;
}

#main {
  text-align: center;
}

/* NavBar */
.navbar {
  height: 80px;
  line-height: 60px;
  padding-left: 1.5rem;
  font-size: larger;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
  background-color: var(--purple-taupe);
  box-shadow: 2px 2px 5px 2px black
}

.navbar-brand {
  color: var(--pale-string-bud);
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  font-size: xx-large;
}

#logo {
  background-color: inherit;
  max-height: 60px;
}

.navbar-nav .nav-link.active,
.nav-link:focus {
  background-color: inherit;
  color: var(--taupe-gray);
}

/* MealsContainer */
.meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* MealCard */
.meal-card {
  width: 200px;
  text-align: center;
  margin: 10px 0;
  box-shadow: 5px 5px 10px
}

.meal-card-image {
  width: 100%;
  height: auto;
}

.meal-card-image:hover {
  filter: grayscale(100%) blur(3px);
}

.image-wrap {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.image-wrap:hover .overlay-text {
  visibility: visible;
  opacity: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--pale-string-bud);
}

.card-footer {
  padding: 0;
}

.favorite-button{
  background: var(--purple-taupe);
  border-color: var(--pale-string-bud);
  color: white;
}

/* MealPage */
#recipe-container {
  max-width: 1000px;
}

.meal-recipe-image {
  margin-top: 20px;
  height: 400px;
  border-radius: 25px;
}

#buttons {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.button-success.active {
  min-width: 170px;
  background-color: white;
}

#ingredient-list {
  text-align: left;
  list-style: inside;
}

#instructions-container {
  text-align: justify;
}

/* Divider */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 1;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 0.5em;
  line-height: 1.5em;
  color: black;
  background-color: white;
}

.mb-3{
  padding: 20px
}

.form-heading{
  font-family: 'Space Mono', monospace;
  margin-top: 20px;
  font-weight: 600;
}

.recipe-form{
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 5px 5px 20px;
  background-color: var(--pale-string-bud);
}

.submit{
  background-color: var(--purple-taupe);
  border-color: var(--purple-taupe)
}

.custom-select{
  width: 180px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: larger;
  border-radius: 10px;
  background: var(--purple-taupe);
  padding-bottom: 2px;
  padding-left: 15px;
  margin: 20px
}



